.pokemon {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pokemon > img {
  width: 150px;

  /* your code here */
}

#bulbasaur {
  /* your code here */
  position: relative;
}

#charmander {
  /* your code here */
  position: relative;
  top: 35px;
}

#squirtle {
  /* your code here */
  position: relative;
  top: 75px;
}

#pikachu {
  /* your code here */
  position: relative;
  top: 150px;
}

#jigglypuff {
  /* your code here */
  position: relative;
  top: 250px;
}
